In [2]:
import pandas as pd
import numpy as np
import json
from datetime import date, timedelta
#from sodapy import Socrata
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import time
import urllib.request
from selenium.webdriver.common.keys import Keys

In [2]:
date_2year_ago = (date.today() - timedelta(days=2*365))
date_today = date.today()
print('Las fechas a utilizar son: fecha dos anios atras: ' + str(date_2year_ago) + ' y fecha actual: ' + str(date_today))
# Cambiar esta variable si se necesita una fecha especifica
date_2year_ago = 20190000#int(date_2year_ago.strftime('%Y%m%d'))
date_today = int(date_today.strftime('%Y%m%d'))

Las fechas a utilizar son: fecha dos anios atras: 2019-04-23 y fecha actual: 2021-04-22

In [3]:
def first_df():
    # leemos desde la URL el json que contiene la tabla de informacion acerca de las tasas
    df = pd.read_json('https://www.datos.gov.co/resource/mcec-87by.json')
    # hacemos transformaciones a las fechas para tenerlas YYYYMMDD numericas
    df['vigenciadesde'] = pd.to_datetime(df['vigenciadesde']).dt.strftime('%Y%m%d').astype('int32')
    df['vigenciahasta'] = pd.to_datetime(df['vigenciahasta']).dt.strftime('%Y%m%d').astype('int32')
    # retornamos el data frame desde la fecha 2019
    return df[df['vigenciadesde'] >= date_2year_ago]

In [4]:
df  = first_df()
df

       valor unidad  vigenciadesde  vigenciahasta
0    3630.81    COP       20210423       20210423
1    3639.12    COP       20210422       20210422
2    3636.26    COP       20210421       20210421
3    3606.42    COP       20210420       20210420
4    3595.57    COP       20210417       20210419
..       ...    ...            ...            ...
545  3128.07    COP       20190110       20190110
546  3164.75    COP       20190109       20190109
547  3208.56    COP       20190105       20190108
548  3241.20    COP       20190104       20190104
549  3250.01    COP       20190103       20190103

[550 rows x 4 columns]

In [5]:
# Se agrupa por anio y mes. Se cuenta para saber cuantos registros hay por cada mes lo que equivale
# a la cantidad de dias por mes
tasa_spot = first_df()
periodo = (tasa_spot['vigenciadesde']/100).astype('int32')
data = periodo.to_list()
names = ['periodo']
new_df = pd.DataFrame(data, columns=names)
new_df.value_counts().sort_index()

periodo
201901     19
201902     19
201903     21
201904     19
201905     21
201906     19
201907     20
201908     21
201909     19
201910     22
201911     19
201912     20
202001     19
202002     20
202003     20
202004     20
202005     20
202006     18
202007     22
202008     19
202009     21
202010     22
202011     16
202012     21
202101     18
202102     19
202103     21
202104     15
dtype: int64

In [6]:
# Enter the information from those sections here
#socrata_domain = 'datos.gov.co'
#socrata_dataset_identifier = 'mcec-87by'

# App Tokens can be generated by creating an account at https://opendata.socrata.com/signup
# Tokens are optional (`None` can be used instead), though requests will be rate limited.
#
# If you choose to use a token, run the following command on the terminal (or add it to your .bashrc)
# $ export SODAPY_APPTOKEN=<token>
#credentials = json.load(open('credentials.json'))
#socrata_token = credentials['TOKEN']

In [7]:
#client = Socrata(socrata_domain, socrata_token)
#print("Domain: {domain:}\nSession: {session:}\nURI Prefix: {uri_prefix:}".format(**client.__dict__))

In [8]:
#results = client.get(socrata_dataset_identifier)
#df = pd.DataFrame.from_dict(results)
#df_splt = df['vigenciadesde'].str.split('-')
#names = ['anio', 'mes', 'dia']
#data2 = df_splt.to_list()
#new_df2 = pd.DataFrame(data2, columns=names)
#new_df2.groupby(['anio', 'mes']).count()

In [9]:
# Segundo dataframe
# Se configuran las opciones del navegador para que empiece maximixado y sin extensiones habilitadas
options = webdriver.ChromeOptions()
options.add_argument('--start-maximized')
options.add_argument('--disable-extensions')

In [10]:
# Funcion para eliminar duplicados de una lista
def remove_duplicate_list(lst):
    ''' Funcion para eliminar duplicados de una lista'''
    return list(dict.fromkeys(lst))

# Se crea instancia del driver que abrira el navegador web con las opciones definidas anteriormente
# Cambiar direccion a donde se encuentra el driver
driver_path = r'C:\Users\Efra\Downloads\chromedriver_win32\chromedriver.exe'
driver = webdriver.Chrome(driver_path, options = options)
# Se le pasa el link a abrir en el navegador
driver.get('https://totoro.banrep.gov.co/analytics/saw.dll?Portal&PortalPath=%2Fshared%2FDashboards_T%2FD_Estad%C3%ADsticas%2FEstad%C3%ADsticas&NQUser=publico&NQPassword=publico123&lang=es&page=Tasas%20de%20inter%C3%A9s%20y%20sector%20financiero&pagina=Otras%20tasas%20de%20inter%C3%A9s')

WebDriverWait(driver, 15)
driver.switch_to.frame(driver.find_element_by_id('frame_dashboard'))

# Se da click en el boton otras tasas de interes
WebDriverWait(driver, 15)\
.until(EC.element_to_be_clickable((By.XPATH,
                                      '/html/body/div[7]/div/div/table/tbody/tr/td[1]/div/div/table/tbody/tr/td[2]/div/table/tbody/tr/td[2]/table/tbody/tr/td/div')))\
    .click()

# Se da click en el menu desplegable Indicador bancario de referencia IBR
WebDriverWait(driver, 15)\
.until(EC.element_to_be_clickable((By.CLASS_NAME,
                                      'sui-treeview-item-toggle-collapsed')))
driver.find_elements_by_class_name('sui-treeview-item-toggle-collapsed')[1].click()


#print(len(driver.find_elements_by_xpath("//a[@href]")))
# Se guardan todos los links asocaidos al atributo o etiqueta href
href = driver.find_elements_by_xpath("//a[@href]")
href_list = []
# Se recorre la lista href en busca de los links que pertenezcan a los insumos de IBR
for i in href:
    try:
        contains = str(i.get_attribute('href')).replace('%20', '').upper()
        #print(contains)
        # Si el href contiene alguno de los strings, es guardado en una lista que contendra los enlaces a descargar
        if('IBR_PLAZOOVERNIGHTNOMINALPARAUNRANGODEFECHASDADOIQY' in contains 
           or 'IBR_PLAZOUNMESNOMINALPARAUNRANGODEFECHASDADOIQY' in contains
           or 'IBR_PLAZOTRESMESESNOMINALPARAUNRANGODEFECHASDADOIQY' in contains
           or 'IBR_PLAZOMESVENCIDONOMINALPARAUNRANGODEFECHASDADOIQY' in contains
           or 'IBR_PLAZOSEISMESESNOMINALPARAUNRANGODEFECHASDADOIQY' in contains
           and 'DOWNLOAD' in contains):
            src = i.get_attribute('href')
            href_list.append(src)
            #print('saca algo ' + src)
    except:
        #print(error)
        print('error href')

# Como la lista posiblemente guarde enlaces duplicados, se aplica la funcion para remover duplicados y asi descargar una sola vez
# cada archivo
href_list = remove_duplicate_list(href_list)
print('Cantidad de archivos a descargar: ' + str(len(href_list)))
for j in href_list:
    try:
        driver.find_element_by_tag_name('body').send_keys(Keys.CONTROL + 't') 
        driver.get(j)
        print('Archivo descargado asociado a: ' + j)
    except AssertionError as error:
        print(error)
        print('error link')
        
# Cambiar a 60 segundos para que descargue antes de cerrar
time.sleep(30)
driver.close()

error href
error href
error href
error href
Cantidad de archivos a descargar: 5
Archivo descargado asociado a: https://totoro.banrep.gov.co/analytics/saw.dll?Download&Format=excel2007&Extension=.xls&BypassCache=true&lang=es&path=%2Fshared%2FSeries%20Estad%C3%ADsticas_T%2F1.%20IBR%2F%201.1.IBR_Plazo%20overnight%20nominal%20para%20un%20rango%20de%20fechas%20dado%20IQY
Archivo descargado asociado a: https://totoro.banrep.gov.co/analytics/saw.dll?Download&Format=excel2007&Extension=.xls&BypassCache=true&lang=es&path=%2Fshared%2FSeries%20Estad%C3%ADsticas_T%2F1.%20IBR%2F%201.2.IBR_Plazo%20un%20mes%20nominal%20para%20un%20rango%20de%20fechas%20dado%20IQY
Archivo descargado asociado a: https://totoro.banrep.gov.co/analytics/saw.dll?Download&Format=excel2007&Extension=.xls&BypassCache=true&lang=es&path=%2Fshared%2FSeries%20Estad%C3%ADsticas_T%2F1.%20IBR%2F%201.3.IBR_Plazo%20tres%20meses%20nominal%20para%20un%20rango%20de%20fechas%20dado%20IQY
Archivo descargado asociado a: https://totoro.banrep.gov.co/analytics/saw.dll?Download&Format=excel2007&Extension=.xls&BypassCache=true&lang=es&path=%2Fshared%2FSeries%20Estad%C3%ADsticas_T%2F1.%20IBR%2F%201.4.IBR_Plazo%20mes%20vencido%20nominal%20para%20un%20rango%20de%20fechas%20dado%20IQY
Archivo descargado asociado a: https://totoro.banrep.gov.co/analytics/saw.dll?Download&Format=excel2007&Extension=.xls&BypassCache=true&lang=es&path=%2Fshared%2FSeries%20Estad%C3%ADsticas_T%2F1.%20IBR%2F1.5.IBR_Plazo%20seis%20meses%20nominal%20para%20un%20rango%20de%20fechas%20dado%20IQY

In [6]:
# cambiar ruta de descarga a la que se usara ex: C:\Users\Efra\Downloads
def clean_ibr_df():
    # Limpieza y adecuacion primer data frame IBR plazo overnight
    df_overnight = pd.read_excel(r'C:\Users\Efra\Downloads\1.1.IBR_Plazo overnight nominal para un rango de fechas dado IQY.xlsx')
    df_overnight.columns = df_overnight.iloc[7]
    df_overnight.drop(df_overnight.index[0:8], inplace = True)
    df_overnight.reset_index(drop = True, inplace = True)
    df_overnight.rename(columns = {df_overnight.columns[0] : 'fecha', df_overnight.columns[3] : 'ibr_efectivo'}, inplace = True)
    #df_overnight.drop(df_overnight.columns.difference(['fecha','ibr_efectivo']), 1, inplace=True)
    df_overnight.dropna()
    return df_overnight.head(10)
clean_ibr_df()

7,fecha,Excepción,Plazo real (días calendario),ibr_efectivo,ibr_efectivo,BANCO DAVIVIENDA,Colpatria Red Multibanca,BANAGRARIO,BANCO OCCIDENTE,Helm Bank S.A.,...,Banco Gnb Sudameris S.A.,CITIBANK,The Royal Bank of Scotland S.A.,Scotiabank Colombia S.A,BANCOLOMBIA,ITAU CORPBANCA,Banco Santander Colombia,BANCO CORPBANCA,Banco Popular S.A.,BANCO DE BOGOTÁ
0,2021-04-22 00:00:00,N,1,"1,747","1,708","1,711",NaN,"1,686","1,710",NaN,...,"1,689",NaN,NaN,NaN,"1,703","1,706",NaN,NaN,NaN,"1,711"
1,2021-04-21 00:00:00,N,1,"1,742","1,703","1,706",NaN,"1,685","1,697",NaN,...,"1,686",NaN,NaN,NaN,"1,700","1,706",NaN,NaN,NaN,"1,711"
2,2021-04-20 00:00:00,N,1,"1,739","1,700","1,708",NaN,"1,687","1,699",NaN,...,"1,684",NaN,NaN,NaN,"1,697","1,701",NaN,NaN,NaN,"1,711"
3,2021-04-19 00:00:00,N,1,"1,739","1,700","1,702",NaN,"1,688","1,711",NaN,...,"1,683",NaN,NaN,NaN,"1,695","1,698",NaN,NaN,NaN,"1,711"
4,2021-04-16 00:00:00,N,3,"1,731","1,693","1,702",NaN,"1,686","1,687",NaN,...,"1,681",NaN,NaN,NaN,"1,685","1,699",NaN,NaN,NaN,"1,711"
5,2021-04-15 00:00:00,N,1,"1,731","1,693","1,702",NaN,"1,685","1,687",NaN,...,"1,671",NaN,NaN,NaN,"1,680","1,699",NaN,NaN,NaN,"1,711"
6,2021-04-14 00:00:00,N,1,"1,734","1,696","1,695",NaN,"1,682","1,705",NaN,...,"1,679",NaN,NaN,NaN,"1,670","1,697",NaN,NaN,NaN,"1,711"
7,2021-04-13 00:00:00,N,1,"1,730","1,692","1,693",NaN,"1,680","1,600",NaN,...,"1,676",NaN,NaN,NaN,"1,690","1,695",NaN,NaN,NaN,"1,711"
8,2021-04-12 00:00:00,N,1,"1,726","1,688","1,696",NaN,"1,685","1,660",NaN,...,"1,671",NaN,NaN,NaN,"1,680","1,698",NaN,NaN,NaN,"1,711"
9,2021-04-09 00:00:00,N,3,"1,734","1,696","1,697",NaN,"1,680","1,711",NaN,...,"1,669",NaN,NaN,NaN,"1,669","1,696",NaN,NaN,NaN,"1,705"

In [6]:
pd.set_option('display.max_rows', None)
# cambiar ruta de descarga a la que se usara ex: C:\Users\Efra\Downloads
def clean_ibr_df():
    # Limpieza y adecuacion primer data frame IBR plazo overnight
    #df_overnight = pd.read_excel(r'C:\Users\Efra\Downloads\1.1.IBR_Plazo overnight nominal para un rango de fechas dado IQY.xlsx', header = 8, skipfooter = 7)
    df_overnight = pd.read_excel(r'C:\Users\Efra\Downloads\1.4.IBR_Plazo mes vencido nominal para un rango de fechas dado IQY.xlsx', header = 8, skipfooter = 7)
    df_overnight.rename(columns = {'Fecha (dd/mm/aaaa)' : 'Fecha', 'IBR' : 'IBR_efectivo', 'IBR.1' : 'IBR_nominal'}, inplace = True)
    df_overnight = df_overnight[['Fecha', 'IBR_efectivo', 'IBR_nominal']]
    df_overnight['Fecha'] = pd.to_datetime(df_overnight['Fecha']).dt.strftime('%Y%m%d').astype('int32')
    #df_overnight.dropna(subset = ['IBR_efectivo', 'IBR_nominal'], thresh=2, inplace = True)
    
    df_overnight.IBR_efectivo.replace({',':'.'}, regex = True, inplace = True)
    df_overnight['IBR_efectivo'] = df_overnight['IBR_efectivo'].astype(float)
    df_overnight.IBR_nominal.replace({',':'.'}, regex = True, inplace = True)
    df_overnight['IBR_nominal'] = df_overnight['IBR_nominal'].astype(float)
    
    df_overnight['IBR_efectivo'].fillna(0, inplace = True)
    df_overnight['IBR_nominal'].fillna(0, inplace = True)

    return df_overnight
clean_ibr_df()
# cuarto DF tomar IBR.1 si IBR esta vacio y aplicar formula para cambiar a tasa efectiva

        Fecha  IBR_efectivo  IBR_nominal
0    20120731           0.0        5.015
1    20120724           0.0        5.161
2    20120717           0.0        5.160
3    20120710           0.0        5.145
4    20120703           0.0        5.098
5    20120626           0.0        5.101
6    20120619           0.0        5.088
7    20120612           0.0        5.088
8    20120605           0.0        5.080
9    20120529           0.0        5.076
10   20120522           0.0        5.075
11   20120515           0.0        5.075
12   20120508           0.0        5.074
13   20120502           0.0        5.070
14   20120424           0.0        5.069
15   20120417           0.0        5.068
16   20120410           0.0        5.065
17   20120403           0.0        5.065
18   20120327           0.0        5.064
19   20120320           0.0        5.064
20   20120313           0.0        5.055
21   20120306           0.0        5.058
22   20120228           0.0        5.054
23   20120221           0.0        4.900
24   20120214           0.0        4.825
25   20120207           0.0        4.820
26   20120131           0.0        4.820
27   20120124           0.0        4.623
28   20120117           0.0        4.626
29   20120110           0.0        4.630
30   20120103           0.0        4.635
31   20111227           0.0        4.650
32   20111220           0.0        4.653
33   20111213           0.0        4.652
34   20111206           0.0        4.660
35   20111129           0.0        4.660
36   20111122           0.0        4.480
37   20111115           0.0        4.438
38   20111108           0.0        4.435
39   20111101           0.0        4.450
40   20111025           0.0        4.450
41   20111018           0.0        4.446
42   20111011           0.0        4.433
43   20111004           0.0        4.431
44   20110927           0.0        4.420
45   20110920           0.0        4.420
46   20110913           0.0        4.416
47   20110906           0.0        4.422
48   20110830           0.0        4.450
49   20110823           0.0        4.459
50   20110816           0.0        4.500
51   20110809           0.0        4.483
52   20110802           0.0        4.450
53   20110726           0.0        4.301
54   20110719           0.0        4.240
55   20110712           0.0        4.196
56   20110705           0.0        4.190
57   20110628           0.0        4.177
58   20110621           0.0        4.168
59   20110614           0.0        4.000
60   20110607           0.0        4.000
61   20110531           0.0        3.950
62   20110524           0.0        3.801
63   20110517           0.0        3.798
64   20110510           0.0        3.768
65   20110503           0.0        3.699
66   20110426           0.0        3.588
67   20110419           0.0        3.550
68   20110412           0.0        3.500
69   20110405           0.0        3.500
70   20110329           0.0        3.498
71   20110322           0.0        3.455
72   20110315           0.0        3.255
73   20110308           0.0        3.253
74   20110301           0.0        3.250
75   20110222           0.0        3.000
76   20110215           0.0        2.992
77   20110208           0.0        2.990
78   20110201           0.0        2.988
79   20110125           0.0        2.980
80   20110118           0.0        2.982
81   20110111           0.0        2.980
82   20110104           0.0        2.980
83   20101228           0.0        2.980
84   20101221           0.0        2.980
85   20101214           0.0        2.983
86   20101207           0.0        2.980
87   20101130           0.0        2.970
88   20101123           0.0        2.973
89   20101116           0.0        2.965
90   20101109           0.0        2.959
91   20101102           0.0        2.963
92   20101026           0.0        2.969
93   20101019           0.0        2.968
94   20101012           0.0        2.968
95   20101005           0.0        2.971
96   20100928           0.0        2.970
97   20100921           0.0        2.978
98   20100914           0.0        2.978
99   20100907           0.0        2.980
100  20100831           0.0        2.975
101  20100824           0.0        2.966
102  20100817           0.0        2.960
103  20100810           0.0        2.957
104  20100803           0.0        2.950
105  20100727           0.0        2.955
106  20100721           0.0        2.971
107  20100713           0.0        2.971
108  20100706           0.0        2.968
109  20100629           0.0        2.950
110  20100622           0.0        2.955
111  20100615           0.0        2.965
112  20100608           0.0        2.960
113  20100601           0.0        2.959
114  20100525           0.0        2.965
115  20100518           0.0        2.963
116  20100511           0.0        2.950
117  20100504           0.0        2.950
118  20100427           0.0        3.415
119  20100420           0.0        3.405
120  20100413           0.0        3.388
121  20100406           0.0        3.368
122  20100330           0.0        3.340
123  20100323           0.0        3.325
124  20100316           0.0        3.300
125  20100309           0.0        3.275
126  20100302           0.0        3.273
127  20100223           0.0        3.290
128  20100216           0.0        3.290
129  20100209           0.0        3.250
130  20100202           0.0        3.245
131  20100126           0.0        3.200
132  20100119           0.0        3.275
133  20100112           0.0        3.283
134  20100105           0.0        3.250
135  20091229           0.0        3.100
136  20091222           0.0        3.175
137  20091215           0.0        3.200
138  20091209           0.0        3.270
139  20091201           0.0        3.320
140  20091124           0.0        3.405
141  20091117           0.0        3.872
142  20091110           0.0        3.874
143  20091103           0.0        3.884
144  20091027           0.0        3.893
145  20091020           0.0        3.895
146  20091013           0.0        3.905
147  20091006           0.0        3.915
148  20090929           0.0        3.877
149  20090922           0.0        4.272
150  20090915           0.0        4.243
151  20090908           0.0        4.255
152  20090901           0.0        4.209
153  20090825           0.0        4.196
154  20090818           0.0        4.215
155  20090811           0.0        4.219
156  20090804           0.0        4.243
157  20090728           0.0        4.326
158  20090721           0.0        4.351
159  20090714           0.0        4.368
160  20090707           0.0        4.393
161  20090630           0.0        4.395
162  20090623           0.0        4.410
163  20090616           0.0        4.845
164  20090609           0.0        4.833
165  20090602           0.0        4.818
166  20090526           0.0        5.765
167  20090519           0.0        5.777
168  20090512           0.0        5.780
169  20090505           0.0        5.750
170  20090428           0.0        6.711
171  20090421           0.0        6.721
172  20090414           0.0        6.721
173  20090407           0.0        6.713
174  20090331           0.0        6.709
175  20090324           0.0        6.710
176  20090317           0.0        7.620
177  20090310           0.0        7.625
178  20090303           0.0        7.615
179  20090224           0.0        8.595
180  20090217           0.0        8.657
181  20090210           0.0        8.665
182  20090203           0.0        8.550
183  20090127           0.0        8.935
184  20090120           0.0        8.928
185  20090113           0.0        8.915
186  20090106           0.0        8.905
187  20081230           0.0        8.920
188  20081223           0.0        8.990
189  20081216           0.0        9.250
190  20081209           0.0        9.294
191  20081202           0.0        9.365
192  20081125           0.0        9.415
193  20081118           0.0        9.486
194  20081111           0.0        9.499
195  20081104           0.0        9.510
196  20081028           0.0        9.512
197  20081021           0.0        9.508
198  20081014           0.0        9.504
199  20081007           0.0        9.503
200  20080930           0.0        9.500
201  20080923           0.0        9.499
202  20080916           0.0        9.498
203  20080909           0.0        9.500
204  20080902           0.0        9.500
205  20080826           0.0        9.503
206  20080819           0.0        9.509
207  20080812           0.0        9.508
208  20080805           0.0        9.508
209  20080729           0.0        9.503
210  20080722           0.0        9.285
211  20080715           0.0        9.284
212  20080708           0.0        9.280
213  20080701           0.0        9.280
214  20080624           0.0        9.275
215  20080617           0.0        9.279
216  20080610           0.0        9.275
217  20080603           0.0        9.275
218  20080527           0.0        9.278
219  20080520           0.0        9.279
220  20080513           0.0        9.279
221  20080506           0.0        9.278
222  20080429           0.0        9.279
223  20080422           0.0        9.283
224  20080415           0.0        9.280
225  20080408           0.0        9.288
226  20080401           0.0        9.290
227  20080325           0.0        9.290
228  20080318           0.0        9.292
229  20080311           0.0        9.288
230  20080304           0.0        9.289
231  20080226           0.0        9.275
232  20080219           0.0        9.106
233  20080212           0.0        9.088
234  20080205           0.0        9.073
235  20080129           0.0        9.055
236  20080122           0.0        9.070
237  20080115           0.0        9.078
238  20080108           0.0        9.042

In [71]:
r = clean_ibr_df()
r.dtypes

Fecha             int32
IBR_efectivo    float64
IBR_nominal     float64
dtype: object

In [72]:
r.describe()

              Fecha  IBR_efectivo  IBR_nominal
count  2.390000e+02           0.0   239.000000
mean   2.009888e+07           NaN     5.383561
std    1.336801e+04           NaN     2.419685
min    2.008011e+07           NaN     2.950000
25%    2.009026e+07           NaN     3.295000
50%    2.010042e+07           NaN     4.450000
75%    2.011061e+07           NaN     8.087500
max    2.012073e+07           NaN     9.512000